.footer {
  color: #fff;
  padding: 50px 0;
  background: linear-gradient( rgba(0,92,187,1) 0%, rgba(0, 64, 131,1) 50%, rgba(0,92,187,1) 100%);
}

.footer-container {
  max-width: 70vw;
  margin: 0 auto;
}

  .footer-section h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
  }

  .footer-section p, .footer-section ul {
    margin: 10px 0;
    font-size: 0.9em;
  }

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }

    .footer-section ul li {
      margin-bottom: 5px;
    }

      .footer-section ul li a {
        color: #fff;
        text-decoration: none;
      }

  .social-icons a {
    margin-right: 10px;
    color: #fff;
    font-size: 1.2em;
  }

.footer-bottom {
  text-align: right;
  padding: 1vmax;
}

  .footer-bottom p {
    font-size: 0.8em;
  }
